<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>画像:</strong>
  <%= image_tag @user.image.url %>
</p>

<p>
<%= link_to '新規投稿', new_picture_path %>
<%= link_to '投稿一覧', pictures_path %>
<% if @user.id == current_user.id %>
  <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
<% end %>
</p>